html,
body {
	height: 100%;
	margin: 0;
    overflow: hidden;
}
body{
	font-family: "Source Han Sans", "Noto CJK", "Arial";
    background-size: 100% 100%;
}
img{
	display: block;
	width: 100%;
}
p{
	margin: 0;
	padding: 0;
}

@keyframes rotate{
	0%{
		transform: rotateY(0deg);
	}
	100%{
		transform: rotateY(360deg);
	}
}
@-webkit-keyframes rotate{
	0%{
		-webkit-transform: rotateY(0deg);
	}
	100%{
		-webkit-transform: rotateY(360deg);
	}
}

@keyframes rotateScale{
    0%{
        transform: scale(0) rotateY(0deg);
    }
    100%{
        transform: scale(0) rotateY(360deg);
    }
}
@-webkit-keyframes rotateScale{
    0%{
        -webkit-transform: scale(1) rotateY(0deg);
    }
    100%{
        -webkit-transform: scale(1) rotateY(360deg);
    }
}

.music{
    width: 59px;height: 50px;
    position: absolute;
    left: 0.3rem;
    top: 0.3rem;
    background-image: url(../img/music.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: none;
    z-index: 100;
}
.music.pause{
    background-image: url(../img/music_pause.png);
}
.music video{
    height: 0;
    width: 0;
    visibility: hidden;
}

.content,
.loading{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	perspective: 600px;
}
.logo1{
	position: absolute;
	top: 40%;
	width: 100%;
	text-align: center;
}

.logo1 img{
	display: inline-block;
	width: 34%;
	-webkit-animation: 2s rotate linear infinite;
	animation: 2s rotate linear infinite;
}
.logo1 p{
	font-size: 18px;
	line-height: 30px;
}

.logo2,
.logo3{
	position: absolute;
	top: 40%;
	width: 50%;
	left: 25%;
	-webkit-transform: scale(0);
	transform: scale(0);
}

.logo2 img,
.logo3 img{
	-webkit-animation: 2s rotate linear infinite;
	animation: 2s rotate linear infinite;
}

.logo4{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
}
.logo4 img{
	position: absolute;
	top: 40%;
	width: 60%;
	left: 20%;
}
.logo4 .logo4-wrap{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-animation: 2s rotate linear infinite;
	animation: 2s rotate linear infinite;
}
.logo4-wrap span{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 50px;
	height: 50px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.main{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50% 0px;
    transform-origin: 50% 50% 0px;
}

.main span{
    position: absolute;
    left: 0;
    top: 0;
    width: 129px;
    height: 1170px;
    margin-top: -585px;
    margin-left: -64.5px;
	-webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

